@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

:root {
  --color-primary: #8bdb4a;
}

html,
body,
#__next {
  height: 100%;
  min-height: 100%;
}

.fade {
  animation: fade 1s ease;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
